body
{
    background-color: #36393d;
}

.content_box, .user-cp-content-box, .bookshelf-card, .user-card, .list_boxes .groups ul li a, .list_boxes .blog_posts>ul>li, .api-content-box, .list_boxes .bookshelves li.selected, .list_boxes .bookshelves .bookshelf-icon, div.search_results_count, .comment .data, .comment .avatar, .feed>li, .feed>li .avatar, .group_list .icon, .thread_list table td .avatar, .thread_list table td .group-icon, .member_list table td img.avatar, .group-card, .private-message-list .avatar, .statistics .graph, .story_content_box, .story_container img.story_avatar, .story-card, .thumbnail-story-list li .item, .properties .characters label div, .tag-page .related-characters li a, .tag-header, .tag-header .image img, .user_cp .tabs img, .user_cp .tabs .tab-collection, div.user_cp .message_table img.avatar, .nav_bar .nav-bar-list>li>ul.drop-down-private-messages li .avatar, .nav_bar .nav-bar-list>li .nav-bar-drop-down.drop-down-private-messages li .avatar, .story-page-header .image-container img, .user-page-header .avatar-container img, .page_list, .page_list_info, .adsbygoogle, .hfksjdhfksjd, .pw-ad-box table, .private_messages .previous_message .avatar
{
    background: #2f3136;
    border: 1px solid #2f3136;
}

.story-card .story-card__info, .front_page .featured_box .info
{
    background: #2a2c30;
}

.front_page .featured_box .featured_story
{
    background: #2f3136;
}

.front_page .featured_box
{
    border: 1px solid #2f3136;
}

.front_page .featured_box .left
{
    // border-right: 1px solid #2a2c30;
}

.front_page .featured_box .left ul li
{
    background: #2a2c30;
    
}

.front_page .featured_box .left ul li.selected
{
    background: #1f2124;
}

.front_page .featured_box .title, .story-card .story-card__title
{
    border-bottom: 1px solid #3d4045;
}

.front_page .featured_box .featured_story hr
{
    background: #3d4045;
}


.content_box, .user-cp-content-box, .bookshelf-card, .user-card, .list_boxes .groups ul li a, .list_boxes .blog_posts>ul>li, .api-content-box, .list_boxes .bookshelves li.selected, .list_boxes .bookshelves .bookshelf-icon, div.search_results_count, .comment .data, .comment .avatar, .feed>li, .feed>li .avatar, .front_page .featured_box, .group_list .icon, .thread_list table td .avatar, .thread_list table td .group-icon, .member_list table td img.avatar, .group-card, .private-message-list .avatar, .statistics .graph, .story_content_box, .story_container img.story_avatar, .story-card, .thumbnail-story-list li .item, .properties .characters label div, .tag-page .related-characters li a, .tag-header, .tag-header .image img, .user_cp .tabs img, .user_cp .tabs .tab-collection, div.user_cp .message_table img.avatar, .nav_bar .nav-bar-list>li>ul.drop-down-private-messages li .avatar, .nav_bar .nav-bar-list>li .nav-bar-drop-down.drop-down-private-messages li .avatar, .story-page-header .image-container img, .user-page-header .avatar-container img, .page_list, .page_list_info, .adsbygoogle, .hfksjdhfksjd, .pw-ad-box table, .private_messages .previous_message .avatar, .front_page .featured_box .description, .front_page .featured_box .left ul li, .currently-reading-list .title, .front_page .featured_box .title a
{
    color: #c5c6c7;
}

.list_boxes .list .info, .story-card .story-card__info, .list_boxes .list .info, .story-card .story-card__info, .front_page .featured_box .info
{
    color: #55575c;
}